<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{{ path('home') }}">Click And Buy</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('shop') }}">La boutique
				</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>

		<ul class="nav-item dropdown ml-auto">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Navigation
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{{ path('presentation') }}">Qui sommes-nous ?</a>
				<a class="dropdown-item" href="{{ path('contact') }}">Contact</a>
				<div class="dropdown-divider"></div>

				{% if app.user == null %}
					<a class="dropdown-item" href="{{ path('admin_login') }}">connexion Admin</a>
					<a class="dropdown-item" href="{{ path('client_login') }}">connexion Client</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ path('client_register') }}">Inscrivez-vous</a>
				{% endif %}

				{% if app.user %}

					{% if app.user.username == 'admin' %}
						<a class="dropdown-item" href="{{ path('admin_logout') }}">deconnexion Admin</a>
					{% endif %}

					{% if app.user.username == 'client' %}
						<a class="dropdown-item" href="{{ path('client_logout') }}">deconnexion client</a>
					{% endif %}
				{% endif %}

			</div>
		</ul>
	</div>
</nav>
