{% extends 'base.html.twig' %}

{% block title %}
	{{ controller_name }}
{% endblock %}

{% block body %}
<style>
.page{
	background: #e9ecef;
}
</style>

	<div class="container-fluid p-5">
		<div class="container text-center p-5">
				<h1>{{ controller_name }}!</h1>
			<p class="lead">
				Qu'est-ce qui vous ferais plaisir ?
			</p>

			<div class="row justify-content-between">
				{% for article in articles %}
					<div class="card my-5" style="width: 18rem;">
						<img src="{{ article.image }}" class="card-img-top image-preview" alt="{{ article.title }}">
						<div class="card-body">
							<h5 class="card-title">{{ article.title }}</h5>
							<p class="card-text">{{ article.introduction }}</p>
							<p class="font-weight-bold">
								{{ article.price }}€
							</p>
							<div class="row">
								<a href="{{ path('fiche_produit', {'id': article.id }) }}" class="btn mx-auto btn-primary" role="button">En savoir plus ?</a>
								<a href="{{ path('cart_add', {'id': article.id }) }}" class="btn mx-auto btn-success active" role="button">
									<i class="fas fa-cart-plus"></i> 
								</a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}
